<div class="container">


  <div class="d-flex justify-content-center">

    <div class="node-circle text-light bg-info d-flex justify-content-center" #nodeCircle
         (click)="onTagSpanClicked()">
      {{group.tag}}
    </div>

  </div>

  <div class="row d-flex justify-content-center"
       [ngbPopover]="buttonsPopOver"
       popoverClass=" node-buttons-panel "
       placement="right">
    <span style="width: unset;z-index: {{tokenZIndex?tokenZIndex:'unset'}}" *ngFor="let token of group.tokens"
          (click)="this.tokenClicked(token)"
          [class]="tokenSelectionClass(token)">
      {{token.text}}
    </span>
  </div>

</div>

<ng-template #buttonsPopOver>
  <div>
    <a (click)="onUpClick()">
      <i class="cursor-pointer bi bi-arrow-up-circle-fill bi-node-button text-warning"></i>
    </a>
  </div>
  <div>
    <a (click)="onDownClick()">
      <i class="cursor-pointer bi bi-arrow-down-circle-fill bi-node-button text-success"></i>
    </a>
  </div>
</ng-template>
