<main>
  <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
    <div class="d-flex justify-content-center">
      <a class="navbar-brand"><img style="width: 101px" src="assets/images/nlp-shareopolis-logo.svg" alt="Acidmanic-Logo"></a>
    </div>

    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#home"/>
          </svg>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#speedometer2"/>
          </svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link ">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#table"/>
          </svg>
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#grid"/>
          </svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#people-circle"/>
          </svg>
          Customers
        </a>
      </li>
    </ul>
    <hr>
  </div>


  <div class="b-sidebar-divider"></div>

  <ng-content></ng-content>

</main>
