<div class="container">

  <div class="row">

    <div class="col-2">


      <button class="btn btn-primary" (click)="onSubGroupClicked()">SubGroup</button>
      <button class="btn btn-danger" (click)="onDeleteClicked()">Delete</button>

    </div>
    <div class="col-6">
      <token-group [selection]="selection"
                   [group]="group"
                   [disable-tag-click]="true"
                   (on-tag-clicked)="onTagClicked($event)">
      </token-group>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-header"> Resulting Parse Tree</div>
        <div class="card-body parse-tree-view">
          {{parseTree}}
        </div>
      </div>
    </div>

  </div>

</div>


<ng-template id="postagModal" #postagModal>

  <div class="card">
    <div class="card-header">
      Tree Bank Pos-tags
    </div>
    <div class="card-body">
      <div class="container">

        <div class="row mb-3">
          <token-group
            [selection]="clickedTagSelection"
            [group]="modalPreviewGroup!"
            [disable-tag-click]="true">
          </token-group>
        </div>

        <div class="row g-1">

          <div class="col-xxl-1 col-xl-2 col-lg-4  col-md-6 col-sm-12"
               *ngFor="let tag of postagBank.tags"
               [dir]="postagBank.language.direction">
            <ngb-alert
              class="m-0 ml-1 mt-1 p-1 card-postag"
              type="primary" [dismissible]="false">

              <span class="badge bg-primary p-1 m-0 cursor-pointer"
                    (click)="onSetPostagClicked(tag)">
                {{tag.tag}}
              </span>

<!--              <span class="details">-->
<!--                {{tag.description}}-->
<!--              </span>-->
              <span-or-details
                [text]="tag.description"
                [text-max-chars]="50"
                (span-click)="onSetPostagClicked(tag)"
                class="details"
              ></span-or-details>

            </ngb-alert>
          </div>


        </div>

      </div>
    </div>
  </div>

</ng-template>


