<div>


  <h3 class="mx-4" >{{currentLanguage.strings['Login']}}</h3>


  <div class="mx-5 card text-center">
    <div class="card-header">
      {{currentLanguage.strings['Github']}}
    </div>
    <div class="card-body">
      <p>
        <img src="assets/images/github.svg" alt="github-icon">
      </p>
      <p class="card-text">{{currentLanguage.strings['LoginUsingGithub']}}</p>
      <a href="{{githubPath}}" class="btn btn-primary" >{{currentLanguage.strings['Login']}}</a>
    </div>
  </div>


  <div class="mx-5 card text-center">
    <div class="card-header">
      {{currentLanguage.strings['LinkedIn']}}
    </div>
    <div class="card-body">
      <p>
        <img src="assets/images/linkedin.svg" alt="github-icon">
      </p>
      <p class="card-text">{{currentLanguage.strings['LoginUsingLinkedIn']}}</p>
      <a href="{{linkedInPath}}" class="btn btn-primary" >{{currentLanguage.strings['Login']}}</a>
    </div>
  </div>



</div>
