/* You can add global styles to this file, and also import other style files */


//@import "~bootstrap/dist/css/bootstrap.css";

.small-circle-badge{
  align-content: center;
  align-items: center;
  text-align: center;
  text-anchor: middle;
  padding-left: 4px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  font-size: 0.9em;
  padding-right: 4px;
}


.token{

  cursor: pointer;
}

.token-selected{
  background-color: rgba(10, 69, 192, 0.47);
}


.token-disabled{
  background-color: rgba(87, 82, 82, 0.55);
  cursor: unset;
}


.token-placeholder{
  visibility: hidden;
  height: 0px;
  display: block;
}


.parse-tree-view{

  white-space: break-spaces;
  font-size: 0.8rem;
  font-family: Monaco, "Lucida Console", monospace;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


.card-postag .badge{
  font-size: 0.7em;
  font-weight: bold;
}

.card-postag .details{
  font-size: 0.85em;
}

.card-postag{
  height: 90px;
}


.cursor-pointer{
  cursor: pointer;
}


.rounded-pill.pill-text-more{
  font-size: 0.75rem;
  padding-top: 1px;
  padding-bottom: 0px;
  text-align: center;
}
