/* You can add global styles to this file, and also import other style files */


@import "~bootstrap/dist/css/bootstrap.css";



.small-circle-badge{
  width: 24px;
  height: 24px;
  align-content: center;
  align-items: center;
  text-align: center;
  text-anchor: middle;
  padding: 0px;
  font-size: 0.8em;
  border-radius: 40px;
  font-weight: bold;

}


.token{

  cursor: pointer;
}

.token-selected{
  background-color: rgba(10, 69, 192, 0.47);
}


.token-disabled{
  background-color: rgba(87, 82, 82, 0.55);
  cursor: unset;
}
