/* You can add global styles to this file, and also import other style files */


//@import "~bootstrap/dist/css/bootstrap.css";



.small-circle-badge{
  width: 24px;
  height: 24px;
  align-content: center;
  align-items: center;
  text-align: center;
  text-anchor: middle;
  padding: 0px;
  font-size: 0.6em;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
}


.token{

  cursor: pointer;
}

.token-selected{
  background-color: rgba(10, 69, 192, 0.47);
}


.token-disabled{
  background-color: rgba(87, 82, 82, 0.55);
  cursor: unset;
}


.token-placeholder{
  visibility: hidden;
  height: 0px;
  display: block;
}


.parse-tree-view{

  white-space: break-spaces;
  font-size: 0.8rem;
  font-family: Monaco, "Lucida Console", monospace;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
