
<div class="mx-0 me-4" style="display: inline-block">

  <a [ngbPopover]="userPopOver" [popoverTitle]="userPopOverTitle" placement="bottom">
    <img src="{{getImage()}}" alt="" width="38" height="38" class="rounded-circle m-1">
  </a>

  <ng-template #userPopOverTitle>
    <b>{{loginManger.getLoggedInUser().username}}</b>
  </ng-template>

  <ng-template #userPopOver>

    <div>
        <button class="btn" routerLink="profile">{{currentLanguage.strings['Profile']}}</button>
        <button class="btn" (click)="doLogOut()">Exit</button>
    </div>

  </ng-template>

</div>

