<div class="container">


  <div class="d-flex justify-content-center">

    <div class="node-circle text-light bg-info d-flex justify-content-center" #nodeCircle
         (click)="onTagSpanClicked()">
      {{group.tag}}
    </div>

  </div>

  <div class="row d-flex justify-content-center">
    <span style="width: unset" *ngFor="let token of group.tokens"
          (click)="this.selectToken(token)"
          [class]="tokenSelectionClass(token)">
      {{token.text}}
    </span>
  </div>

  <div class="row d-flex justify-content-between">


    <div style="width: unset" *ngFor="let placeHolder of processPlaceholders()">

      <token-tree style="width: unset"
                  *ngIf="placeHolder.groupContained"
                  [group]="placeHolder.group!"
                  [selection]="selectionInput"
                  [element-map]="elementMap"
                  (on-tag-clicked)="onTagClicked.emit($event)">
      </token-tree>

      <span *ngIf="!placeHolder.groupContained" class="token-placeholder">
        {{placeHolder.text}}
      </span>

    </div>


  </div>

</div>
